  <% if (typeof extraJs !== 'undefined' && extraJs) { %>
    <% extraJs.forEach(function(js) { %>
      <script src="<%= js %>" defer></script>
    <% }); %>
  <% } %>
  <%- include('chatbot') %>
  <script src="/public/js/affiliate-v3.js?v=20260423b" defer></script>
  <script src="/public/js/chatbot.js?v=20260423b" defer></script>
</body>
</html>
